body {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: Montserrat, Quicksand, sans-serif;
}

.carry-container {
  width: 1500px;
  height: 750px;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgba(87, 0, 95, 0.637),
    rgba(0, 0, 0, 0.432),
    rgba(1, 81, 134, 0.548)
  );
  border: 3px solid #7a27c798;
  overflow: hidden;
  box-shadow: 0 0 0.5em rgba(234, 0, 255, 0.637);
  border-radius: 45px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-shadow: 0 0 0.5em rgb(110, 237, 237);
  color: #ffffff;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}
.quit {
  color: #ffffff;
  position: absolute;
  left: 94%;
  margin-right: -50%;
  top: 5%;
  font-size: 40px;
}

.quit:hover {
  color: rgb(103, 103, 103);
}

img {
  height: 390px;
}

.card {
  --bs-card-bg: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    105deg,
    rgba(100, 6, 155, 0.637),
    rgba(62, 6, 95, 0.589),
    rgba(0, 0, 0, 0.548)
  );
  border: 2px solid rgb(110, 237, 237);
  border-radius: 25px;
}

.btn {
  background-color: rgba(0, 0, 0, 1);
  color: rgb(110, 237, 237);
  font-family: Montserrat, Quicksand, sans-serif;
  letter-spacing: 0.15em;
  font-weight: normal;
  font-size: 24px;
  text-shadow: 0 0 0.5em rgb(110, 237, 237);
  background-color: rgba(44, 157, 157, 0.411);
  border: 0.1em solid rgb(255, 255, 255);
  border-radius: 10px;
  font-family: Quicksand, sans-serif;
}

.btn:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  border-color: #ffffff;
  background: rgba(110, 237, 237, 0.716);
  text-decoration: none;
}
.card-title {
  color: #b495f8;
  text-shadow: 0 0 0.5em rgb(195, 110, 237);
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}
